body{
    /* background-image: url(https://wallpaperplay.com/walls/full/f/0/4/16928.jpg); */
    background-image: url(https://wallpaperplay.com/walls/full/c/5/6/221599.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
div{
    background-image: url(https://wallpaperaccess.com/full/13189.jpg) ;
    background-attachment: fixed;
    background-size:  cover;
}